# Ignore virtual environment directories
venv/
.venv

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
*.csv

# Ignore model files
*.pkl

# Ignore model directories
models/hand_landmarker.task

# Ignore git cache
.git
