# --- Virtual Environments ---
venv/
.venv/
ENV/
env/

# --- Python Cache & Bytecode ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- OS Specific Files ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs & Text Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Project Datasets & Logs ---
datasets/*.csv
datasets/archive/
datasets/archive.zip
!datasets/.gitkeep

# --- Trained Models ---
models/*.pkl
models/hand_landmarker.task
!models/.gitkeep
*.pkl

# --- Temporary / Build Files ---
*.spec
dist/
build/

# --- Documentation ---
TEST.md